body {
  margin: 0;
  font-family: "Courrier New", Courier, monospace,
    sans-serif;
 background-image: linear-gradient(to left, #f270f2 0%, #a70ee9 50%, #45c5fc 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor : pointer;
}
