body {
  margin: 0;
  font-family: "Courrier New", Courier, monospace,
    sans-serif;
 background-image: linear-gradient(to left, #bdc3c7 0%, #2c3e50 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	cursor : pointer;
}
